{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}



<div class="cover-card table-cell table-upper">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}

  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>


  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        {% unless forloop.last %}
          <span>/</span>
        {% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
  

  <style>
        .super-search__input {
        text-align: right;
        border: 0;
        border-left: none;
        border-right: none;
        color: #999;
        width: 65%;
        transition: 0.15s ease-out 150ms;
      }

      .super-search__results {
        transform: translateX(15px);
        text-align: right;
        list-style: none;
        padding: 0;
        overflow-x: hidden;
        height: calc(100% - 110px);
        transition: 0.2s ease;
      }

      .super-search__results > li > a {
        display: block;
        position: relative;
        background-color: #f9f9f9;
        color: #666;
        padding: 5px;
        margin: 5px 10px;
        box-shadow: 0 3px 4px rgba(0,0,0,0.1);
      }

      .super-search__result-date {
        color: #BBB;
      }
      
      .super-search.is-active {
        opacity: 1;
        visibility: visible;
      }
  </style>

  <div class="super-search" id="js-super-search">
    <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">X&nbsp;</a>
    <input type="text" placeholder="Search blag posts " class="super-search__input" id="js-super-search__input">
    <ul class="super-search__results" id="js-super-search__results"></ul>
  </div>

  <ul style="list-style:none;position:relative;bottom:0%;">
    <li>Also check out:</li>
    <li><a href="http://www.fordycelab.com/">Fordyce Lab</a></li>
    <li><a href="http://alexhwilliams.info/itsneuronalblog/">It's Neuronal</a></li>
  </ul>


</div>










